extends layout/layout-front

block css
    link(href="/css/hotTopic.css",rel="stylesheet")

block content
    .hotTopic
        .header
            .banner-box: img(src="img/hotTopic/banner.jpg" alt="")
            .sub
                span.logo-mini 天财君银会
                span.time 17：06
                span.views
                    | 阅读
                    span 10
        .neck
            span.fa.fa-commenting-o
            | 9月横扫千军锦囊热卖中
        .topic-boxes
            ul
                if hotTopics&&hotTopics.length>0
                    each item in hotTopics
                        li.box
                            a(href="/detail/"+item._id)
                                h4 #{item.title}
                                p.content #{item.brief}
                                .sub
                                    span.logo-mini 天财君银会
                                    span.time #{moment(item.views).format('HH:MM')}
                                    span.views
                                        | 阅读
                                        span #{item.views}
block script
    script.
