extends layout/layout-admin

block css
    <!-- libraries -->
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/new-user.css",rel="stylesheet",media="screen")
block content
    .content
        .container-fluid
            .new-user#pad-wrapper
                .row-fluid.header
                    h3 话题列表
                .row-fluid.table
                    table.table.table-hover
                        thead
                            tr
                                th 文章标题
                                th 阅读数
                                th 点赞数
                                th 发表时间
                                th 评论详情
                                th 置顶
                                th 修改
                                th 删除
                        tbody
                            if topics && topics.length > 0
                                each item in topics
                                    tr(class="item-id-" + item._id)
                                        td #{item.title}
                                        td #{item.views}
                                        td #{item.praise}
                                        td #{moment(item.meta.updateAt).format('YYYY/MM/DD-HH:MM')}
                                        td: a(href="/admin/topic-profile/"+item._id target="_blank") 评论详情
                                        td
                                            .slider-frame
                                                if item.hot
                                                    span(data-on-text="ON" data-off-text="OFF" class="slider-button on") ON
                                                else
                                                    span(data-on-text="ON" data-off-text="OFF" class="slider-button") OFF
                                        td: a(href="/admin/topic-update/"+item._id) 修改
                                        td: a.btn-flat.danger.del 删除


block script
    script.
        $(function(){
            $('.del').on('click',function(){
              var tr = $(this).parents('tr[class^="item-id-"]');
              var topic_id = tr[0].className.slice(8);
              console.log(topic_id);
              $.ajax({
                method:'DELETE',
                url:'/topic/del/'+topic_id,
                success:function(data){
                  if(data.state==='success'){
                    tr.remove()
                  }
                },
                error:function(err){

                }
              })
            })

          $('.slider-button').click(function(e){
            var btn = $(e.target)
            var tr = btn.parents('tr[class^="item-id-"]');
            var topic_id = tr[0].className.slice(8);
            console.log(topic_id);
            $.ajax({
              method:'GET',
              url:'/topic/hot/'+topic_id,
              success: function (data) {
                if (data.state === 'success') {
                  console.log(data);
                    if (btn.hasClass("on")) {
                      btn.removeClass('on').html(btn.data("off-text"));
                    } else {
                      btn.addClass('on').html(btn.data("on-text"));
                    }
                }
              },
              error: function (err) {

              }
            })
          })
        })