extends layout/layout-admin

block css
    <!-- libraries -->
    link(href="/vendor/css/lib/jquery-ui-1.10.2.custom.css",rel="stylesheet")
    link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
    <!-- this page specific styles -->
    link(href="/vendor/css/compiled/index.css",rel="stylesheet",media="screen")
block content
    .content
        h1 Welcome #{admin.name}