doctype
html.login-bg
    head
        include ../include/admin/meta
        title #{title}
        include ../include/admin/bootstrap
        include ../include/admin/globalStyle

        <!-- libraries and this page specific styles -->
        block css
    body
        include ../include/admin/navbar
        include ../include/admin/sidebar
        block content

    script(src="/vendor/js/jquery-3.2.1.min.js")
    script(src="/vendor/js/bootstrap.min.js")
    script(src="/vendor/js/theme.js")
    block script
